body {
  font-family: 'Garamond', serif;
  font-size: 18px;
  line-height: 1.5;
  /* increase the kerning a bit */
  letter-spacing: 1px;
}

hr, .page-break {
  page-break-after: always;
}

li {
  list-style-type: none;
}

/* Content Centering on the page.
  Only one of these should be used at a time.
*/
/* body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  text-align: center;
} */

/* This is not currently applied to blockquotes and more complex pages. */
.center-page {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-height: 70ch;
  text-align: center;
  justify-content: center;
}

.center-page em,
.center-page strong {
  align-self: center;
}
